* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

@font-face {
  font-display: swap;
  font-family: "Climate Crisis";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/climate-crisis-v14-latin-regular.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Climate Crisis";
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100dvw;
  background-color: #05171e;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MainHeader {
  height: 120px;
  background-color: #082029;
  display: flex;
  align-items: center;
}

.LogoImg {
  height: 80px;
  width: 300px;
  padding-left: 63px;
}

.SectionH1 {
  margin-top: 64px;
  margin-bottom: 64px;
  font-size: 32px;
}

.GallerySection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImgStyling {
  border-radius: 25px;
  margin: 16px;
}

.ImgStyling:hover {
  cursor: pointer;
}

.MainFooter {
  height: 120px;
  background-color: #082029;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

dialog {
  height: 1200px;
  width: 600px;
  border-radius: 25px;
  border-color: none;
  background-color: #082029;
}

.DialogHeader {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DialogFooter {
  display: flex;
  position: fixed;
}

.DialogBtns {
  background-color: none;
  border: none;
}
.DialogBtns:hover {
  cursor: pointer;
}
