* {
  padding: 0;
  box-sizing: border-box;
  color: white;
}

@font-face {
  font-display: swap;
  font-family: "Climate Crisis";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/climate-crisis-v14-latin-regular.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: "Climate Crisis";
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100dvw;
  background-color: #05171e;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MainHeader {
  height: 120px;
  width: 100dvw;
  background-color: #082029;
  display: flex;
  align-items: center;
}

.LogoImg {
  height: 80px;
  width: 300px;
  padding-left: 63px;
}

.SectionH1 {
  margin: 0;
  font-size: 32px;
}

.GallerySection {
  flex-wrap: wrap;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImgStyling {
  border-radius: 25px;
  margin: 16px;
}

.ImgStyling:hover {
  cursor: pointer;
}

.MainFooter {
  height: 120px;
  background-color: #082029;
  display: flex;
  align-items: center;
  width: 100%;
}

/* Dialog css */

dialog {
  height: 1000px;
  width: 600px;
  border-radius: 25px;
  border-color: #082029;
  background-color: rgba(8, 32, 41, 0.849);
  position: absolute;
}

.DialogHeader {
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 32px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DialogFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.DialogBtns {
  background: transparent;
  border: none;
}
.DialogBtns:hover {
  cursor: pointer;
}

.ContainerImgBig {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.ImgBigStyling {
  border-radius: 25px;
  width: 500px;
  height: 500px;
}

/* mediaqueries */

@media (max-width: 1300px) {
  .SectionH1 {
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .SectionH1 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    max-width: 90%;
  }

  .ImgStyling {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 845px) {
  .SectionH1 {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .MainFooter {
    margin-top: 24px;
  }

  dialog {
    height: 800px;
    width: 400px;
    border-radius: 25px;
    border-color: #082029;
    background-color: rgba(8, 32, 41, 0.849);
    position: absolute;
  }

  .ImgBigStyling {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 340px) {
  .ImgStyling {
    height: 100px;
    width: 100px;
    margin: 8px;
  }
}
